body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff8e6;
  font-family: "Work Sans", sans-serif;
}

$buttonMargin: 50px;
$buttonHoverRange: 5px;

.arrow-left {
  transform: scale(-1, 1);
  left: $buttonMargin;

  &:hover {
    transform: translate(-$buttonHoverRange, 0) scale(-1, 1);
  }
}

.arrow-right {
  right: $buttonMargin;

  &:hover {
    transform: translate($buttonHoverRange, 0);
  }
}

$buttonSize: 60px;
.arrow-button {
  position: fixed;
  width: $buttonSize;
  height: $buttonSize;
  top: 50%;
  margin-top: -$buttonSize/2;
  background: url("images/arrow.png");
  background-size: cover;
  z-index: 8;
  cursor: pointer;

  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  bottom: 50px;
  width: 100%;
  height: 30px;

  transition: opacity 0.5s ease-in-out 0.5s;

  &.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
}
