.landing {
  position: fixed;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.landing-background {
  position: fixed;
  width: 100%;
  height: 100%;

  background: url("../../images/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: black;

  opacity: 0;
  transition: opacity 0.25s ease-out;

  &.show {
    opacity: 1;
  }
}

.landing_project-link {
  position: absolute;
  width: 400px;
  cursor: pointer;

  opacity: 0;
  transform: scale(0.95, 0.95);
  transform-origin: top left;
  pointer-events: none;

  &:nth-child(6n) {
    transition: opacity 1.65s ease-in-out 0.3s, transform 1.65s ease-in-out 0.3s;
  }
  &:nth-child(6n + 1) {
    transition: opacity 1.45s ease-in-out 0.1s, transform 1.45s ease-in-out 0.1s;
  }
  &:nth-child(6n + 2) {
    transition: opacity 1.65s ease-in-out 0.6s, transform 1.65s ease-in-out 0.6s;
  }
  &:nth-child(6n + 3) {
    transition: opacity 1.45s ease-in-out 0.4s, transform 1.45s ease-in-out 0.4s;
  }
  &:nth-child(6n + 4) {
    transition: opacity 1.55s ease-in-out 0.5s, transform 1.55s ease-in-out 0.5s;
  }
  &:nth-child(6n + 5) {
    transition: opacity 1.5s ease-in-out 0.3s, transform 1.5s ease-in-out 0.3s;
  }

  .link & {
    opacity: 1;
    transform: scale(1, 1);
    pointer-events: auto;
  }

  p {
    margin-left: -200px;
    width: 100%;
    text-align: center;
    font-size: 38px;
    letter-spacing: 2.2px;
    user-select: none;

    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.025, 1.025);
    }
  }
}

.landing-intro_video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;
  pointer-events: none;
  transition: opacity 0.25s ease-out;

  video {
    width: 100%;
    height: 100%;
  }

  &.hide {
    opacity: 0;
  }
}

.landing_start-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;

  transition: opacity 0.5s ease-in-out;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url("../../images/bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: black;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.landing_start-button {
  width: 250px;
  height: 50px;

  top: 50%;
  position: fixed;
  left: 50%;

  margin-left: -125px;
  margin-top: -25px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.5s ease-in-out;

  p {
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  cursor: pointer;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.landing_link-container {
  position: fixed;
  left: 960px;
  top: 540px;
  width: 1920px;
  height: 1080px;
  transform-origin: 0% 0%;
}
