@import "../../styles/font-size.scss";

$buttonSize: 50px;

.TeamWrapper {
  position: fixed;
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.team_conatiner-top {
  width: 100%;
  // margin-top: -$buttonSize * 2;
}

.team_text {
  float: left;
  width: 50%;
}

$padding: 150px;
.team_text-left {
  height: 70vh;
  box-sizing: border-box;
  padding-left: $padding;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team_member-title {
  font-size: $fontSizeLarge;
  line-height: $lineHeightLarge;
  font-weight: 500;
  margin-bottom: 30px;
  opacity: 0;
  transform: translate(0, -10px);

  .showMember & {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;
    opacity: 1;
    transform: translate(0, 0);
  }
}
.team_member-desc {
  font-size: $fontSizeMedium;
  line-height: $lineHeightMedium;
  white-space: pre-wrap;

  opacity: 0;
  transform: translate(0, -10px);

  .showMember & {
    transition: opacity 0.35s ease-in-out 0.2s, transform 0.4s ease-in;
    opacity: 1;
    transform: translate(0, 0);
  }

  a {
    color: inherit;
  }
}

.team_member-link {
  box-sizing: border-box;
  font-size: $fontSizeMedium;
  user-select: none;
  text-align: right;
  margin-bottom: 20px;
  cursor: pointer;

  b {
    font-weight: 600;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.team_member-bio {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  white-space: pre-line;
  margin: 20px 0px 40px 0px;
  padding-left: 50px;
  font-size: $fontSizeMedium;
  line-height: $lineHeightMedium;

  .expand & {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.5s;
  }

  a {
    color: inherit;
  }
}

.team_text-right {
  // background-color: rgba(0, 255, 0, 0.25);
  margin-top: -$buttonSize * 2;
  box-sizing: border-box;
  padding-right: $padding;
  padding-top: 25vh;
  margin-bottom: 100px;
}

.team_conatiner-bottom {
  font-size: $fontSizeMedium;
  line-height: $lineHeightMedium;
  display: block;
  float: left;
  // position: absolute;
  // bottom: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 50px 0px 50px;
  white-space: pre-wrap;
  text-align: center;

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
  }
}

.team_container-header {
  width: 100%;
  height: $buttonSize;
  margin-top: 40px;
  padding-left: 150px;
}

.team_close {
  width: $buttonSize;
  height: $buttonSize;
  background: url("../../images/cross.png");
  background-size: cover;
  cursor: pointer;
}

.team_logo {
  width: 200px;
  opacity: 0.7;

  margin-top: 20px;
  margin-left: -40px;
}
