.TeamWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;

  background-color: rgba(0, 0, 0, 0);

  transition: background-color 0.5s ease-in-out;
  pointer-events: none;

  &.show {
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: auto;
  }
}

.team-title {
  opacity: 0;

  transition: opacity 0.5s ease-in-out;

  .show & {
    opacity: 1;
  }
}
